*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(252, 248, 248);
}
#heading
{
    background-color: rgb(14, 7, 61);
    color: whitesmoke;
    height: 4rem;
    line-height: 4rem;
    display: inline;
    padding: 1rem;
    border-radius: 2rem;
    
    
}
.choice:hover{
    cursor: pointer;
    border: 2px solid black;
    box-sizing: border-box;
}
.choice
{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28%;

}
img{
    height: 150px;
    width: 150px;
    border-radius: 28%;
}
.choices{
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.score-board
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;

}
#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container
{
    margin-top: 3rem;
}
#msg{
    background-color: rgb(219, 3, 3);
    display: inline;
    font-size: 2rem;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem;
}